@import "../../../styles/vars";

.projectContainer {
  $corner-size: $corner-radius * 2;

  .page {
    background-color: white;
    border-radius: $corner-size/2;
    width: 100%;
    max-width: $width-max;
  }
  .hero {
    position: relative;
    text-align: center;
    // padding: $nav-size 0 $nav-size/2;
    .featuredContainer {
      position: relative;
      width: 100%;
      height: clamp(20rem, 40vmin, 50rem);
    }
    .featuredImage {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: $corner-radius $corner-radius 0 0;
      border: 2em solid transparent;
    }
    .iconButton {
      position: absolute;
      top: 0;
      right: 0;
      width: $corner-radius * 1.2;
      height: $corner-radius * 1.2;
      padding: 1em;
      z-index: 2;

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
      }

      &:before {
        border-radius: 100%;
        background-color: $palette-moonstone;
        width: $corner-radius * 1.2;
        height: $corner-radius * 1.2;
        z-index: -1;
      }
    }
  }

  .tagsContainer {
    display: flex;
    flex-direction: row;
    gap: $gap/2;
    padding: 1em 0;
    width: auto;
    // justify-content: center;
  }
  .projectContainerInner {
    max-width: $width-med;
    text-align: left;
    background-color: rgba($white, 0.8);
    backdrop-filter: blur(1em);
    border-radius: 1em;
    border-top: 1px solid $white;
    padding: $padding-body;

    @media all and (max-width: $width-max) {
      padding: $padding-body/2;
    }

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1em;
      padding-top: 1em;
      &:not(:first-child) {
        border-top: 1px solid rgba($palette-gunmetal, 0.2);
      }
      &:first-child {
        margin-top: 0;
      }
    }

    p,
    i,
    b,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    em,
    img {
      width: 100%;
    }

    :not(figure) + figure:has(+ :not(figure)) {
      width: 95%;
    }

    .metaContainerInner {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: $gap;
      width: 100%;

      > * {
        flex: 1;
        min-width: 200px;
      }

      p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        > *:not(label) {
          display: flex;
          height: 3em;
          flex-direction: column;
          justify-content: center;
        }
      }

      label {
        font-size: 0.8em;
        opacity: 0.6;
      }

      img {
        height: 3em;
        object-position: left center;
      }
    }
  }
}

.PaletteCoral {
  background-color: $palette-coral;
}
.PaletteCornsilk {
  background-color: $palette-cornsilk;
}
.PaletteGunmetal {
  background-color: $palette-gunmetal;
}
.PaletteMoonstone {
  background-color: $palette-moonstone;
}
.PaletteThistle {
  background-color: $palette-thistle;
}
.PaletteGreen {
  background-color: $palette-green;
}
.PaletteYellow {
  background-color: $palette-yellow;
}
